*.class
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
release/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.vscode/
.idea/
.iml
.iws
.settings/
.classpath
.project
.DS_Store
.DS_Store?
._
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.log
hs_err_pid
replay_pid
*.jar
!project/dist/
!project/dist/server-app.jar
!project/dist/client-app.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
codex/
